* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "Helvetica", "Arial", "sans-serif";
    font-size: 20px;
    min-height: 0;
    background: none;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
    color: white;
}

/* Seperator Section */
#image.seperator_left {
    margin-left: 5px;
}

#image.seperator_right {
    margin-right: 5px;
}

#image.seperator_middle {
    margin: 5px 0;
    background-color: rgba(40, 40, 40, 0.5);
    padding: 0 5px;
}


/* Header Images */
#image.cpu,
#image.gpu,
#image.ram 
{
    padding: 4px;
}


/* Containers */
#cpu_container,
#gpu_container,
#ram_container,
#control_container,
#clock,
#workspaces button
{
    background-color: rgba(40, 40, 40, 0.5);
    margin: 5px 0;
    padding: 0;
}

#workspaces button {
    font-size: 25px;
    padding: 0 2px;
    margin: 5px 0px;
}

#workspaces button.focused {
    background-color: #5e15d2;
}

/* Warning State Colors */
#cpu.medium,
#custom-gpu_utilization.medium,
#custom-gpu_vram_usage.medium,
#memory.medium,
#battery.caution
{
    color: yellow;
}

#cpu.high,
#custom-gpu_utilization.high,
#custom-gpu_vram_usage.high,
#memory.high,
#battery.critical
{
    color: orange;
}

#cpu.extreme,
#custom-gpu_utilization.extreme,
#custom-gpu_vram_usage.extreme,
#memory.extreme,
#battery.danger
{
    color: red;
}


/* Base Modules */
#cpu,
#custom-gpu_utilization,
#custom-gpu_vram_usage,
#memory,
#custom-swap,
#backlight,
#pulseaudio,
#battery,
#custom-wdisplays
{
    padding-right: 7px;
}

/* Single Module Modules
Also required to be a container */
#clock
{
    padding: 4px;
}

/* Otherwise, the battery would be black */
#battery.charging {
    color: cyan;
}

#battery {
    color: white;
}

/* For some reason, backlight is super small? */
/* also, since its the first in line, we need to shift it a bit */
#backlight {
    padding-right: 10px;
    padding-left: 4px;
}

/* This time its a super wide module, and it intersects with the seperator */
#network {
    padding-right: 15px;
}