* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "Helvetica", "Arial", "sans-serif";
    font-size: 26px;
    min-height: 0;
    background: none;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
    color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#image.seperator.left {
    padding-right: 2px;
}

#image.seperator.right {
    padding-left: 2px
}