* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "Helvetica", "Arial", "sans-serif";
    font-size: 20px;
    min-height: 0;
    background: none;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
    color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

/* Seperator Section */

#image.seperator_left {
    margin-left: 5px;
}

#image.seperator_right {
    margin-right: 5px;
}

/* CPU Section */

#image.cpu {
    padding: 2px;
}

#cpu_container {
    background-color: rgba(40, 40, 40, 0.5);
    margin: 5px 0;
    padding: 0;
}

#cpu {
    padding-right: 5px;
}

#cpu.medium {
    color: yellow;
}

#cpu.high {
    color: orange;
}

#cpu.extreme {
    color: red;
}