* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "Helvetica", "Arial", "sans-serif";
    font-size: 20px;
    min-height: 0;
    background: none;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
    color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}


/* Seperator Section */
#image.seperator_left {
    margin-left: 5px;
}

#image.seperator_right {
    margin-right: 5px;
}

#image.seperator_middle {
    margin: 5px 0;
    background-color: rgba(40, 40, 40, 0.5);
    padding: 0 5px;
}


/* Header Images */
#image.cpu,
#image.gpu,
#image.ram 
{
    padding: 4px;
}


/* Containers */
#cpu_container,
#gpu_container,
#ram_container 
{
    background-color: rgba(40, 40, 40, 0.5);
    margin: 5px 0;
    padding: 0;
}


/* Warning State Colors */
#cpu.medium,
#custom-gpu_utilization.medium,
#custom-gpu_vram_usage.medium,
#memory.medium
{
    color: yellow;
}

#cpu.high,
#custom-gpu_utilization.high,
#custom-gpu_vram_usage.high,
#memory.high 
{
    color: orange;
}

#cpu.extreme,
#custom-gpu_utilization.extreme,
#custom-gpu_vram_usage.extreme,
#memory.extreme
{
    color: red;
}


/* Base Modules */
#cpu,
#custom-gpu_utilization,
#custom-gpu_vram_usage,
#memory,
#custom-swap
{
    padding-right: 5px;
}